gunicorn
google-cloud-firestore
google-cloud-storage
openai
tweepy
flask
google-api-python-client
Flask-Executor
pytz
llama-index
bs4
requests
attrs
twitter-text-parser
selenium
webdriver_manager
beautifulsoup4
pycryptodome
Pillow
urlextract
google-cloud-aiplatform
